@model dynamic

<h1 class="bg-info text-white">Index</h1>
@Model.String
@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
    <p>
        @Html.ActionLink("Create New","Create","Post")
    </p>
    <h3>Все файлы</h3>
    <table class="table">
        @foreach (Post post in Model.Posts)
        {
        <tr>
            <td>
                @Html.DisplayFor(item => post.ProfilePicture)
                <img style='width:160px; height:120px;' src="@Url.Content(post.Path)">
                @Html.DisplayFor(item => post.Like) likes<br />
                @Html.ActionLink("Like","Like" , new { id =post.PostId})
            </td>
        </tr>
        }
    </table>
    
}
